Repository Hani-home/HaniHome_FE, pull requests merged in 2025-07, with the labels that each got.

#36 ✨ Feat: 알림 페이지 및 매물 신고 페이지 UI 구현
  public/svgs/header/trash-icon.svg
  src/app/listings/[id]/page.tsx
  src/app/listings/[id]/report/page.tsx
  src/app/notifications/page.tsx
  src/components/common/ImagePreviewSection.tsx
  src/components/common/TextareaField.tsx
  src/components/layout/LayoutWrapper.tsx
  src/components/layout/TabBar.tsx
  src/components/layout/header/BackHeader.tsx
  src/components/layout/header/MainHeader.tsx
  src/components/layout/header/TitleHeader.tsx
  src/components/notification/NotificationCard.tsx
  src/components/viewings/ImagePreviewSection.tsx
  src/components/viewings/ImageUploadButton.tsx
  src/components/viewings/ViewingNoteSection.tsx
  src/constants/notification-dummies.ts
  src/types/notification.ts
Labels: ✨ Feature UI, 🎨 Design

#37 ✨ Feat: 마이페이지 약관 및 정책 / FAQ / 1:1 문의 / 탈퇴 UI 구현
  public/lotties/loading-lottie.json
  src/app/mypage/page.tsx
  src/app/mypage/support/faq/page.tsx
  src/app/mypage/support/inquiry/page.tsx
  src/app/terms/operation/page.tsx
  src/app/terms/page.tsx
  src/app/terms/privacy/page.tsx
  src/app/terms/service/page.tsx
  src/components/common/Accordion.tsx
  src/components/common/AlertModal.tsx
  src/components/common/CompleteModal.tsx
  src/components/common/InputField.tsx
  src/components/common/LoadingLottie.tsx
  src/components/common/ModalLayout.tsx
  src/components/layout/header/BackHeader.tsx
  src/components/mypage/SectionItems.tsx
  src/components/mypage/WithdrawAlertModal.tsx
  src/components/terms/TermsDetailTemplate.tsx
  src/components/viewings/ViewingChecklistSection.tsx
  src/components/viewings/ViewingNoteSection.tsx
  src/constants/agreement-terms.ts
  src/constants/faq-data.ts
  src/constants/mypage-section.ts
  src/hooks/auth/useAuth.ts
  src/stores/useAuthStore.ts
  src/types/auth.ts
Labels: ✨ Feature UI, 📡 API, 🎨 Design

#35 ✨ Feat: 인증수단강화 UI, 구한매물UI
  package.json
  public/svgs/common/empty-check.svg
  public/svgs/common/filled-check.svg
  public/svgs/common/verification-badge.svg
  src/app/mypage/listings/page.tsx
  src/app/mypage/purchases/page.tsx
  src/app/profile/edit/page.tsx
  src/app/profile/verifications/page.tsx
  src/app/signup/profile/page.tsx
  src/app/viewing/[id]/record/page.tsx
  src/app/viewing/page.tsx
  src/components/common/CheckIcon.tsx
  src/components/common/DropdownField.tsx
  src/components/common/SelectTab.tsx
  src/components/home/ListingCard.tsx
  src/components/mypage/VerifyImageUploader.tsx
  src/components/signup/profile/ProfileImageUploader.tsx
  src/components/wishlist/roomList.tsx
  src/constants/mock/my-purchases.ts
  src/constants/mypage-section.ts
  src/stores/useSignupStore.ts
  src/types/listingCard.ts
  src/types/signup.ts
  src/utils/uploadMultipleImages.tsx
  src/utils/uploadSingleImage.tsx
  yarn.lock
Labels: ✨ Feature UI, 🎨 Design

#38 🐛 Fix: 로그인 및 회원정보 등록 API 연결 코드 수정
  next.config.ts
  public/images/profile-default1.png
  public/images/profile-default2.png
  public/svgs/common/certificated-icon.svg
  public/svgs/common/left-arrow.svg
  src/apis/auth.ts
  src/apis/axios.ts
  src/apis/s3Upload.ts
  src/app/auth/callback/page.tsx
  src/app/listings/[id]/page.tsx
  src/app/mypage/page.tsx
  src/app/signup/info/page.tsx
  src/app/signup/profile/page.tsx
  src/components/common/Accordion.tsx
  src/components/common/BottomActionBar.tsx
  src/components/home/LocationHeader.tsx
  src/components/listings/shared/FurnitureSection.tsx
  src/components/login/GoogleLoginButton.tsx
  src/components/signup/info/AgreementList.tsx
  src/components/signup/profile/ProfileImageUploader.tsx
  src/constants/consent-options.ts
  src/hooks/auth/useAuth.ts
  src/hooks/signup/useNickname.ts
  src/schemas/signup.ts
  src/stores/useAuthStore.ts
  src/stores/useSignupStore.ts
  src/types/auth.ts
  src/utils/formatConsentType.ts
  src/utils/formatPhoneNumber.ts
  src/utils/getRandomDefaultProfile.ts
Labels: 📡 API, 🐞 BugFix

#42 Fix: 회원가입 시 프리뷰 이미지 로직 수정
  src/app/signup/profile/page.tsx
  src/components/common/LoginAlertModal.tsx
  src/components/home/ViewingSection.tsx
  src/components/layout/header/MainHeader.tsx
  src/components/signup/profile/ProfileImageUploader.tsx
  src/utils/getRandomDefaultProfile.ts
Labels: 🐞 BugFix

#45 ✨ Feat: 홈 관련 api 연결 추가
  package.json
  public/images/profile-default1.png
  public/images/profile-default2.png
  public/lotties/guest-searching-lottie.json
  public/lotties/guest-viewing-lottie.json
  public/lotties/logo-lottie.json
  public/svgs/common/favicon.svg
  public/svgs/common/guest-profile.svg
  public/svgs/common/profile-default1.svg
  public/svgs/login/lottie-default.svg
  public/svgs/login/white-logo.svg
  src/apis/axios.ts
  src/apis/property.ts
  src/apis/viewing.ts
  src/app/auth/login/page.tsx
  src/app/home/filter/page.tsx
  src/app/home/page.tsx
  src/app/layout.tsx
  src/app/listings/[id]/page.tsx
  src/app/mypage/page.tsx
  src/app/page.tsx
  src/app/viewing/page.tsx
  src/app/wishlist/page.tsx
  src/components/common/GuestLoginGuide.tsx
  src/components/common/LoginAlertModal.tsx
  src/components/home/ListingCard.tsx
  src/components/home/ListingList.tsx
  src/components/home/LocationHeader.tsx
  src/components/home/ViewingSection.tsx
  src/components/home/filter/BudgetSlider.tsx
  src/components/home/filterBar/FilterBar.tsx
  src/components/layout/header/MainHeader.tsx
  src/constants/housing-options.ts
  src/constants/mock/listing-card-dummies.ts
  src/constants/mock/my-purchases.ts
  src/hooks/auth/useAuth.ts
  src/hooks/filter/useDebouncedValue.ts
  src/hooks/property/useProperty.ts
  src/hooks/viewing/useViewing.ts
  src/stores/useAuthStore.ts
  src/stores/useFilterStore.ts
  src/stores/useLoginModalStore.ts
  src/styles/globals.css
  src/types/listingCard.ts
  src/types/property.ts
  src/types/viewing.ts
  yarn.lock
Labels: ✨ Feature UI, 📡 API, 🐞 BugFix

#46 🔧 Fix: 응답 구조 변경에 따른 api 호출 오류 수정
  next.config.ts
  src/apis/member.ts
  src/apis/property.ts
  src/app/listings/[id]/page.tsx
  src/app/mypage/listings/page.tsx
  src/app/wishlist/page.tsx
  src/components/home/ListingCard.tsx
  src/components/home/ListingList.tsx
  src/components/listings/DetailTabs.tsx
  src/components/listings/ListingDetail.tsx
  src/components/listings/RentDetail.tsx
  src/components/listings/ShareDetail.tsx
  src/components/wishlist/roomList.tsx
  src/constants/listing-detail-tabs.ts
  src/constants/mock/listing-card-dummies.ts
  src/constants/mock/my-purchases.ts
  src/hooks/member/useMember.ts
  src/hooks/property/useProperty.ts
  src/types/auth.ts
  src/types/listingCard.ts
  src/types/member.ts
  src/types/property.ts
Labels: 📡 API, 🐞 BugFix

#54 ✨ Feat: 뷰잉 관리 페이지 API 연동
  package.json
  src/apis/member.ts
  src/apis/optionItem.ts
  src/apis/s3Upload.ts
  src/apis/viewing.ts
  src/app/home/page.tsx
  src/app/listings/[id]/report/page.tsx
  src/app/viewing/[id]/record/page.tsx
  src/app/viewing/page.tsx
  src/app/viewing/reservation/[id]/complete/page.tsx
  src/app/viewing/reservation/[id]/confirm/page.tsx
  src/components/common/ImagePreviewSection.tsx
  src/components/common/ViewingPostCard.tsx
  src/components/home/ViewingSection.tsx
  src/components/listings/ContractInfo.tsx
  src/components/listings/ShareDetail.tsx
  src/components/listings/create/FunnelStepMenu.tsx
  src/components/viewings/CancelModal.tsx
  src/components/viewings/CancelReasonModal.tsx
  src/components/viewings/ImageUploadButton.tsx
  src/components/viewings/ViewingCanceledSection.tsx
  src/components/viewings/ViewingCompletedSection.tsx
  src/components/viewings/ViewingConfirmedSection.tsx
  src/components/viewings/ViewingManageCard.tsx
  src/components/viewings/ViewingNoteSection.tsx
  src/components/viewings/ViewingSaveButton.tsx
  src/constants/mock/my-viewing-dummies.ts
  src/constants/viewing-tabs.ts
  src/hooks/optionItem/useOptionItem.ts
  src/hooks/property/useProperty.ts
  src/hooks/viewing/useViewing.ts
  src/types/property.ts
  src/types/viewing.ts
  src/utils/dateFormatter.ts
  yarn.lock
Labels: ✨ Feature UI, 📡 API, 🐞 BugFix, ♻️ Refactor

#55 ✨ Feat: 뷰잉 관리 체크리스트 api 연동
  src/app/viewing/[id]/record/page.tsx
  src/app/viewing/page.tsx
  src/components/common/TextareaField.tsx
  src/components/listings/create/BottomSheet.tsx
  src/components/viewings/ViewingChecklistSection.tsx
  src/components/viewings/ViewingNoteSection.tsx
  src/hooks/common/useAutoSize.ts
  src/utils/groupOptionItemsByParent.ts
  yarn.lock
Labels: 📡 API, 🐞 BugFix, ♻️ Refactor

#57 ✨ Feat: 마이페이지 1:1 문의 연동 및 탈퇴 api url 수정
  src/apis/admin.ts
  src/apis/auth.ts
  src/apis/member.ts
  src/apis/support.ts
  src/app/mypage/support/inquiry/page.tsx
  src/components/mypage/WithdrawAlertModal.tsx
  src/hooks/member/useMember.ts
Labels: 📡 API, ♻️ Refactor

#53 ✨ Feat: 관리자 신원인증 요청 조회 UI
  src/app/admin/components/common/AdminNavbar.tsx
  src/app/admin/components/types/verification.tsx
  src/app/admin/layout.tsx
  src/app/admin/page.tsx
  src/app/admin/report/page.tsx
  src/app/admin/verification/page.tsx
  src/components/layout/LayoutWrapper.tsx
Labels: ✨ Feature UI, 🎨 Design

#61 🐛 Fix: 리프레시 토큰 만료 대응 로직 추가
  src/apis/axios.ts
Labels: 📡 API, 🐞 BugFix

#62 ✨ Feat: 알림 페이지 api 연동
  src/apis/axios.ts
  src/apis/notification.ts
  src/app/notifications/page.tsx
  src/components/notification/NotificationCard.tsx
  src/constants/notification-dummies.ts
  src/hooks/notification/useNotification.ts
  src/types/notification.ts
Labels: 📡 API

#65 ✨Feat: 매물 등록 로직 중 ListingDetail, PropertyDescription, CreateConfirm, CreateSuccess 완료
  public/svgs/common/right-filled-arrow.svg
  public/svgs/listings/status-off-icon.svg
  public/svgs/listings/status-on-icon.svg
  src/app/admin/components/common/AdminNavbar.tsx
  src/app/listings/[id]/page.tsx
  src/app/listings/create/page.tsx
  src/app/profile/verifications/page.tsx
  src/app/wishlist/page.tsx
  src/components/common/BottomActionBar.tsx
  src/components/common/calendar/Calendar.tsx
  src/components/listings/BottomSheet.tsx
  src/components/listings/create/AddressField.tsx
  src/components/listings/create/AvailableOptionsContent.tsx
  src/components/listings/create/CostDetailField.tsx
  src/components/listings/create/DropdownSelector.tsx
  src/components/listings/create/FurnitureContent.tsx
  src/components/listings/create/InternalDetailsContent.tsx
  src/components/listings/create/LivingConditionsContent.tsx
  src/components/listings/create/MeetingTimeField.tsx
  src/components/listings/create/MovingConditionDropdownContent.tsx
  src/components/listings/create/PhotoField.tsx
  src/components/listings/create/TimeSlotField.tsx
  src/components/signup/info/AgreementItem.tsx
  src/styles/reactDateRange.css
  src/types/calendar.ts
  src/types/createPropertyAnswer.ts
Labels: ✨ Feature UI, 🎨 Design

#69 ♻️ Refactor: 신원인증강화 수정 로직 반영 및 모달 추가
  src/app/profile/verifications/page.tsx
  src/components/signup/profile/ExistVerifyKindAlertModal.tsx
  src/components/signup/profile/MaxImageAlertModal.tsx
  src/components/signup/profile/VerifyKindAlertModal.tsx
Labels: ✨ Feature UI, ♻️ Refactor, 🎨 Design

#74 ✨ Feat: 매물 상세 페이지 api 연동
  package.json
  public/svgs/listings/furnitures/bed-icon.svg
  public/svgs/listings/furnitures/bedding-icon.svg
  public/svgs/listings/furnitures/closet-icon.svg
  public/svgs/listings/furnitures/coffee-icon.svg
  public/svgs/listings/furnitures/cook-icon.svg
  public/svgs/listings/furnitures/desk-icon.svg
  public/svgs/listings/furnitures/dish-icon.svg
  public/svgs/listings/furnitures/microwave-icon.svg
  public/svgs/listings/furnitures/refrigerator-icon.svg
  public/svgs/listings/furnitures/sofa-icon.svg
  public/svgs/listings/furnitures/stove-icon.svg
  public/svgs/listings/furnitures/tv-icon.svg
  public/svgs/listings/furnitures/vacuum-icon.svg
  public/svgs/listings/furnitures/vacuumCleaner-icon.svg
  public/svgs/listings/furnitures/wifi-icon.svg
  public/svgs/listings/person-filled-icon.svg
  src/app/listings/[id]/furnitures/page.tsx
  src/app/listings/[id]/page.tsx
  src/components/listings/AddressMap.tsx
  src/components/listings/BadgeLists.tsx
  src/components/listings/ContractInfo.tsx
  src/components/listings/ExtraConditions.tsx
  src/components/listings/ImageSlider.tsx
  src/components/listings/MoveInCondition.tsx
  src/components/listings/RentDetail.tsx
  src/components/listings/ShareDetail.tsx
  src/components/listings/shared/FurnitureSection.tsx
  src/components/listings/shared/HostDescriptionSection.tsx
  src/components/listings/shared/ParkingSection.tsx
  src/constants/capacity-options.ts
  src/constants/gender-options.ts
  src/constants/mock/viewing-lists.ts
  src/constants/parking-options.ts
  src/constants/propertyCategory.ts
  src/types/listingDetail.ts
  src/types/property.ts
  src/utils/dateFormatter.ts
  src/utils/formatAddress.ts
  yarn.lock
Labels: ✨ Feature UI, 📡 API, ♻️ Refactor

#75 ♻️ Refactor: 뷰잉 관리 페이지 연동 api 수정
  src/apis/viewing.ts
  src/app/viewing/page.tsx
  src/components/viewings/ViewingCanceledSection.tsx
  src/components/viewings/ViewingCompletedSection.tsx
  src/components/viewings/ViewingConfirmedSection.tsx
  src/components/viewings/ViewingManageCard.tsx
  src/hooks/viewing/useViewing.ts
  src/types/viewing.ts
Labels: 📡 API, ♻️ Refactor

#77 ✨ Feat: 마이페이지 매물 조회 api 연동 및 put 메서드 fetch로 변경
  src/apis/property.ts
  src/apis/viewing.ts
  src/app/listings/[id]/guests/page.tsx
  src/app/listings/[id]/page.tsx
  src/app/listings/[id]/report/page.tsx
  src/app/mypage/listings/page.tsx
  src/app/mypage/purchases/page.tsx
  src/components/listings/BottomSheet.tsx
  src/components/listings/ExtraConditions.tsx
  src/components/viewings/ViewingNoteSection.tsx
  src/constants/mock/listing-card-dummies.ts
  src/constants/mock/listing-guests-dummies.ts
  src/constants/mock/my-purchases.ts
  src/hooks/property/useProperty.ts
  src/hooks/viewing/useViewing.ts
  src/types/property.ts
  src/types/viewing.ts
Labels: 📡 API, 🐞 BugFix

#78 ✨ Feat: 내놓은 매물 숨기기 api 연동 및 뷰잉 거래 파라미터 추가
  src/apis/property.ts
  src/app/listings/[id]/guests/page.tsx
  src/app/listings/[id]/page.tsx
  src/app/mypage/listings/page.tsx
  src/components/listings/BottomSheet.tsx
  src/components/mypage/ListingHideModal.tsx
  src/components/viewings/CancelReasonModal.tsx
  src/components/viewings/ViewingManageCard.tsx
  src/hooks/property/useProperty.ts
  src/hooks/viewing/useViewing.ts
Labels: 📡 API, ♻️ Refactor

#80 🐛 Fix: 상세 페이지 지도공개 여부 로직 수정 및 뷰잉 예약 툴팁 추가
  src/apis/viewing.ts
  src/app/listings/[id]/guests/page.tsx
  src/app/listings/[id]/page.tsx
  src/app/mypage/purchases/page.tsx
  src/app/viewing/reservation/[id]/complete/page.tsx
  src/app/viewing/reservation/[id]/confirm/page.tsx
  src/components/home/ListingList.tsx
  src/components/layout/TabBar.tsx
  src/components/listings/BottomSheet.tsx
  src/components/mypage/ListingHideModal.tsx
  src/components/reservation/ReservationTooltip.tsx
  src/components/viewings/ViewingCanceledSection.tsx
  src/components/viewings/ViewingCompletedSection.tsx
  src/components/viewings/ViewingConfirmedSection.tsx
  src/hooks/listings/useListing.ts
  src/hooks/viewing/useViewing.ts
Labels: ✨ Feature UI, 📡 API, 🐞 BugFix, ♻️ Refactor

#84 ✨ Feat: 상세페이지 스켈레톤 UI 추가
  src/app/listings/[id]/page.tsx
  src/components/listings/ContractInfo.tsx
  src/components/listings/DetailTabs.tsx
  src/components/listings/ListingDetail.tsx
  src/components/listings/MoveInCondition.tsx
  src/components/skeleton/listingsDetail/ContractInfoSkeleton.tsx
  src/components/skeleton/listingsDetail/ListingContentSkeleton.tsx
  src/components/skeleton/listingsDetail/ListingDetailLoadingSkeleton.tsx
  src/components/skeleton/listingsDetail/ListingDetailSkeleton.tsx
  src/components/skeleton/listingsDetail/MoveInConditionSkeleton.tsx
  src/constants/listing-detail-tabs.ts
Labels: ✨ Feature UI, ♻️ Refactor

#88 ✨ Feat: 뷰잉이 있는 매물일 경우 매물 삭제 요청 시 AlertModal 추가
  src/apis/property.ts
  src/app/listings/[id]/page.tsx
  src/components/home/ViewingSection.tsx
  src/components/listings/BottomSheet.tsx
  src/components/mypage/ListingDeleteModal.tsx
Labels: ✨ Feature UI, 📡 API, 🐞 BugFix, ♻️ Refactor

#89 ✨ Feat: SSE 인앱알림 api 연동
  src/apis/viewing.ts
  src/app/home/page.tsx
  src/components/layout/LayoutWrapper.tsx
  src/components/notification/NotificationToast.tsx
  src/hooks/notification/useNotification.ts
  src/hooks/notification/useToastQueue.ts
  src/types/notification.ts
Labels: ✨ Feature UI, 📡 API, 🐞 BugFix

#91 ✨ Feat: pwa 적용
  next.config.ts
  package.json
  public/images/icon-192x192.png
  public/images/icon-512x512.png
  public/manifest.json
  yarn.lock
Labels: 🔧 Chore

#92 ✨ Feat: 매물 상세 탭 스켈레톤 UI 구현
  public/manifest.json
  src/components/skeleton/listingsDetail/ListingDetailSkeleton.tsx
Labels: ✨ Feature UI
