Repository Hani-home/HaniHome_FE, pull requests merged in 2025-08, with the labels that each got.

#99 ✨ Feat: 매물 등록 s3 업로드 추가 & 신원 인증 강화 페이지 api 연동 완료
  src/apis/axios.ts
  src/apis/s3Upload.ts
  src/apis/verification.ts
  src/app/listings/[id]/report/page.tsx
  src/app/profile/verifications/page.tsx
  src/components/common/DropdownField.tsx
  src/components/listings/create/addressPhoto/PhotoField.tsx
  src/components/listings/create/createConfirm/CreateConfirm.tsx
  src/components/signup/profile/ExistVerifyKindAlertModal.tsx
  src/components/signup/profile/ProfileImageUploader.tsx
  src/components/viewings/ViewingNoteSection.tsx
  src/constants/dropdown-options.ts
  src/hooks/common/useMultipleImageUpload.ts
  src/hooks/common/useSingleImageUpload.ts
  src/hooks/mypage/useVerification.ts
  src/hooks/mypage/useVerificationUpload.ts
  src/types/auth.ts
  src/utils/images/uploadFilesToPresignedUrls.ts
  src/utils/images/uploadSingleImage.tsx
Labels: 📡 API, 🐞 BugFix, ♻️ Refactor

#64 ✨ Feat: admin verification detail 구현
  src/app/admin/components/types/verification.tsx
  src/app/admin/components/verification/VerificationDetailModal.tsx
  src/app/admin/verification/page.tsx
Labels: ✨ Feature UI, 🎨 Design

#106 📡API: listing data patch
  src/apis/property.ts
  src/app/listings/[id]/edit/contractTerms/page.tsx
  src/app/listings/[id]/edit/kind/page.tsx
  src/app/listings/[id]/edit/listingDetails/page.tsx
  src/app/listings/[id]/edit/movingConditions/page.tsx
  src/app/listings/[id]/edit/page.tsx
  src/components/listings/create/addressPhoto/AddressField.tsx
  src/components/listings/create/addressPhoto/PhotoField.tsx
  src/components/listings/create/listingDescription/ListingDescription.tsx
  src/components/listings/detailShow/CategoryContent.tsx
  src/components/listings/detailShow/DropDownSection.tsx
  src/hooks/common/useMultipleImageUpload.ts
  src/hooks/property/useProperty.ts
  src/types/listingDetailPost.ts
  src/types/patchPayload.ts
  src/utils/formatter/detailFormatter.tsx
  src/utils/toPostPropertyDetail.ts
Labels: 📡 API

#112 🐛 Fix: 인터셉터 토큰 관리 오류 수정
  src/apis/axios.ts
Labels: 📡 API, 🐞 BugFix

#120 🎨 Design: max-width 기준으로 전체 레이아웃 재정렬
  src/apis/googlePlacesApi.ts
  src/app/auth/login/page.tsx
  src/app/home/page.tsx
  src/app/listings/[id]/edit/contractTerms/page.tsx
  src/app/listings/[id]/edit/listingDetails/page.tsx
  src/app/listings/[id]/edit/movingConditions/page.tsx
  src/app/listings/[id]/edit/page.tsx
  src/app/listings/[id]/report/page.tsx
  src/app/mypage/profile/edit/page.tsx
  src/app/mypage/profile/verifications/page.tsx
  src/app/mypage/support/faq/page.tsx
  src/components/common/AlertMessage.tsx
  src/components/common/BottomActionBar.tsx
  src/components/common/ImagePreviewSection.tsx
  src/components/common/InputField.tsx
  src/components/common/ModalLayout.tsx
  src/components/common/SearchField.tsx
  src/components/common/UserRoomPreview.tsx
  src/components/common/calendar/TimeSpinner.tsx
  src/components/home/AddListingFab.tsx
  src/components/home/ViewingSection.tsx
  src/components/home/filter/BudgetSlider.tsx
  src/components/home/filter/RoomTypeSelector.tsx
  src/components/home/filter/SubwayStationSelector.tsx
  src/components/home/filterBar/FilterBar.tsx
  src/components/layout/LayoutWrapper.tsx
  src/components/layout/TabBar.tsx
  src/components/layout/header/BackHeader.tsx
  src/components/layout/header/MainHeader.tsx
  src/components/layout/header/TitleHeader.tsx
  src/components/listings/AddressMap.tsx
  src/components/listings/BottomSheet.tsx
  src/components/listings/ImageSlider.tsx
  src/components/listings/create/addressPhoto/AddressField.tsx
  src/components/listings/create/addressPhoto/BottomSheet.tsx
  src/components/listings/create/addressPhoto/PhotoField.tsx
  src/components/listings/create/common/DropdownOptionsList.tsx
  src/components/listings/create/common/DropdownSelector.tsx
  src/components/listings/create/contractTerms/CostDetailField.tsx
  src/components/listings/create/createConfirm/CreateConfirm.tsx
  src/components/listings/create/listingDetails/FurnitureContent.tsx
  src/components/listings/create/listingDetails/HighLightsContent.tsx
  src/components/listings/create/listingDetails/InternalDetailsContent.tsx
  src/components/listings/create/movingConditions/LivingConditionsContent.tsx
  src/components/listings/detailShow/CategoryContent.tsx
  src/components/listings/shared/HostDescriptionSection.tsx
  src/components/login/GoogleLoginButton.tsx
  src/components/notification/NotificationCard.tsx
  src/components/notification/NotificationToast.tsx
  src/components/reservation/ReservationTooltip.tsx
  src/components/skeleton/home/ViewingSectionSkeleton.tsx
  src/components/skeleton/listingsDetail/ListingContentSkeleton.tsx
  src/components/skeleton/listingsDetail/ListingDetailLoadingSkeleton.tsx
  src/components/skeleton/listingsDetail/ListingDetailSkeleton.tsx
  src/components/terms/TermsDetailTemplate.tsx
  src/components/viewings/ViewingSaveButton.tsx
  src/constants/funnel-steps.ts
  src/hooks/common/useMultipleImageUpload.ts
Labels: ✨ Feature UI, ♻️ Refactor, 🎨 Design

#122 🐛 Fix: 버그 수정 및 리팩토링
  src/components/common/ViewingPostCard.tsx
  src/components/home/ListingCard.tsx
  src/components/listings/ShareDetail.tsx
  src/components/wishlist/RoomList.tsx
  src/constants/auth-paths.ts
  src/hooks/reservation/useConfirmSchedule.ts
  src/middleware.ts
  src/utils/auth/authUtils.ts
Labels: 🐞 BugFix, ♻️ Refactor

#123 📡 API : 매물등록 단계 임시저장 처리 api연동
  src/apis/propertyApi.ts
  src/app/listings/[id]/edit/listingDetails/page.tsx
  src/app/listings/[id]/edit/page.tsx
  src/app/listings/draft/page.tsx
  src/components/layout/header/BackHeader.tsx
  src/components/listings/create/addressPhoto/PhotoField.tsx
  src/components/listings/create/contractTerms/ContractTermsLayout.tsx
  src/components/listings/create/contractTerms/TimeSlotField.tsx
  src/components/listings/create/createConfirm/CreateConfirm.tsx
  src/components/listings/create/listingDescription/ListingDescription.tsx
  src/components/listings/create/listingDetails/ListingDetailsLayout.tsx
  src/components/listings/create/listingType/ListingType.tsx
  src/components/listings/create/movingConditions/MovingConditionLayout.tsx
  src/constants/time-options.ts
  src/hooks/common/useFunnel.ts
  src/hooks/property/createPayloadBySteps.tsx
  src/hooks/property/useTimeSlotField.ts
  src/stores/useListingStore.ts
  src/types/temporaryProperty.type.ts
  src/utils/listing/create/answerHelpers.ts
Labels: 📡 API
